@import "variables";
@import "projects";

html{
  overflow-y: scroll;
}

.messages{
  display: none;
}

h1, strong, h2, a, label, span{
  font-family: abel;
  font-size: $baseFontSize;
  font-weight: $navFontWeight;
  color: $blue_1;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

h1{
  font-family: $linden;
}
