<div id="movie_filter" class="filter_movies">
    <div class="facebook_link">
        <div class="fb-like" data-href="http://www.showcasecinemas.com/event-cinema/" data-width="450" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
        <!-- Start Facebook HTML5 Like Code -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=598157323613863";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <!-- End Facebook HTML5 Like Code -->
    </div>
    <span class="movie_filter_label">Filter Event Cinema:</span>
    <form id="movie_filter_form" method="GET">
        <select id="movie_filter_day" name="movie_filter_day">
            {{#releases}}
            <option value="{{.}}">{{.}}</option>
            {{/releases}}
        </select>
    </form>
</div>
