<div id="movie_filter" class="filter_movies">
  <span class="movie_filter_label">Filter My Movies:</span>
  <form id="movie_filter_form" method="GET">
    <select id="movie_filter_day" name="movie_filter_day">
      {{#releases}}
      <option value="{{.}}">{{.}}</option>
      {{/releases}}
    </select>
    <select id="movie_filter_genre" name="movie_filter_genre">
      <option value="All Genres">All Genres</option>
      {{#genres}}
      <option value="{{.}}">{{.}}</option>
      {{/genres}}
    </select>
    <select id="movie_filter_rating" name="movie_filter_rating">
      <option value="All Ratings">All Ratings</option>
      {{#ratings}}
      <option value="{{.}}">{{.}}</option>
      {{/ratings}}
    </select>
  </form>
</div>
