<div class="movie_details_util_bar">
  <a onclick="window.history.go(-1);">Go Back</a>
  {{{facebook_link}}}
</div>
<h1 class="movie_detail_title">{{title}}</h1>
<div id="movie_detail_location">
  {{#multi}}
  <select class="movie_multi_format form-select" name="movie_multi_format">
    {{#multi_format}}
    <option value="{{nid}}">{{title}}</option>
    {{/multi_format}}
  </select>
  {{/multi}}
  {{#current}}
  <div class="user_has_loc">
    <span><a href="{{link}}">Find showtimes near {{city}}, {{state}}</a></span><a href="#" class="changer">Change</a>
  </div>
  {{/current}}
  {{#n_a}}
  <div class="user_has_loc">
  <span style="color: #7b1a9b;display:inline;margin:0;padding:0;background:none;border:none;float:none;font-weight:bold;">
    Showtimes not available in {{city}}, {{state}}.</span>
      <br>
      <a href="#" class="changer" style="display:inline;float:none;margin:0;padding:0;">Try another location</a>
  </div>
  {{/n_a}}
  {{#nothing_set}}
  <div class="user_need_loc nothing_set" data-form-type="movie_listing">
    <form class="locForm">
      <label for="location">Find showtimes near:</label><input type="text" name="location"><input type="submit" name="submit" value="Search">
    </form>
  </div>
  {{/nothing_set}}
</div>
<div class="movie_left">
  <!--<?php if (!empty($iframe)) : ?>-->
  <!--<?= $iframe ?>-->
  <!--<?php else : ?>-->
  <!--<img src="<?php print image_style_url('movie_poster', $image[$language][0]['uri']) ?>" alt="<?php print $title; ?>"/>-->
  <!--<?php endif; ?>-->
  {{#vimeo}}
  {{{vimeo}}}
  {{/vimeo}}
  <h3>Movie Synopsis</h3>

  <p>{{{synopsis}}}</p>
</div>
<div class="movie_right">
  <ul>
    {{#actors}}
    <li>
      <h3>Cast:</h3>

      <p>{{actors}}</p>
    </li>
    {{/actors}}
    {{#writers}}
    <li>
      <h3>{{writers_plural}}:</h3>

      <p>{{writers}}</p>
    </li>
    {{/writers}}
    {{#directors}}
    <li>
      <h3>{{directors_plural}}:</h3>

      <p>{{directors}}</p>
    </li>
    {{/directors}}

    {{#genres}}
    <li>
      <h3>{{genres_plural}}:</h3>

      <p>{{genres}}</p>
    </li>
    {{/genres}}
    {{#rating}}
    <li>
      <h3>MPAA Rating:</h3>

      <p>{{rating}}</p>
    </li>
    {{/rating}}
    {{#runtime}}
    <li>
      <h3>Length:</h3>

      <p>{{runtime}}</p>
    </li>
    {{/runtime}}
    {{#release}}
    <li>
      <h3>{{releases_plural}}:</h3>

      <p>{{release}}</p>
    </li>
    {{/release}}
  </ul>
</div>

