<div id="showtime_theatre">
  <div id="showtime_theatre_phone_desk">
    <a href="{{theatre.theatre_detail_link}}" id="events-calendar-link">Calendar</a>
  </div>
  <div id="showtime_theatre_left">
    <h1 data-theatre="{{theatre.house_id}}" id="theatre_title" class="">{{theatre.title}}</h1>
    <a href="#" class="saver mine tip" data-id="{{theatre.house_id}}" rel="tooltip" data-original-title="Save this as my theatre"></a>

    <div id="showtime_theatre_address">{{theatre.address}}, {{theatre.city}}, {{theatre.state}} {{theatre.zip}}
    </div>
    <div id="showtime_theatre_phone_mobile"></div>
  </div>
  <div class="theatre_info_fold" style="display: none;">
    <div id="showtime_theatre_details">
      <div id="showtime_theatre_details_col1" class="theatre_l_fold">
        <div id="showtime_theatre_description">
          {{{theatre.description}}}
        </div>
        <h3 id="dining_header">Dining Options</h3>

        <div id="showtime_theatre_amenities">
          {{#theatre.amenities}}
          <a href="{{link}}">{{name}}</a>,
          {{/theatre.amenities}}
          Visit
          <a href="{{theatre.theatre_detail_link}}">this theatre's page</a> to download menus.
        </div>
      </div>
      <div id="showtime_theatre_details_col2" class="theatre_r_fold">
        <h3 id="feature_header">Theatre Features</h3>

        <div id="theatre_features">
          <ul>
            {{#theatre.features}}
            <li class="tip" rel="tooltip" id="{{id}}" data-original-title="{{title}}"></li>
            {{/theatre.features}}
          </ul>
        </div>
        <h3 id="technology_header">Theatre Technologies</h3>

        <div id="theatre_technologies">
          <ul>
            {{#theatre.technologies}}
            <li>
              <a href="{{url}}" id="{{id}}"><img src="{{image_url}}" alt="{{tip}}"></a>
            </li>
            {{/theatre.technologies}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{#theatre.age_policy}}
  <div id="movie_filter_age_policy" style="clear:both;width:90%;padding-left:5%">
    {{{theatre.age_policy}}}
  </div>
  {{/theatre.age_policy}}
</div>
{{#theatre.ad}}
<div id="theatre_banner">
  {{{.}}}
</div>
{{/theatre.ad}}
