<div id="theatre_page">
  <div id="theatre_details">
    <div class="movie_details_util_bar">
      <a onclick="window.history.go(-1);">Go Back</a>
      {{{theatre.facebook_link}}}
      <!--<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fshow.localhost%2Ftheatre%2Frevere%2Fma%2Fshowcase-cinema-de-lux-revere&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:35px;" allowtransparency="true"></iframe>-->
    </div>

    <div id="theatre_details_title_bar">
      <h1>{{theatre.title}}
        <a href="#" class="saver mine tip" data-id="{{theatre.house_id}}" rel="tooltip" data-original-title="Save this as my theatre"></a>
      </h1>

      <div id="theatre_page_showtimes">
        <a href="{{theatre.showtime_link}}">Showtimes &amp; Tickets</a>
      </div>
    </div>
    <img src="{{theatre.image_url}}" alt="Theatre Image">

    <div id="theatre_page_description">
      <address id="theatre_page_address">{{theatre.street}}<br>{{theatre.city}} {{theatre.state}} {{threatre.zip}}
      </address>
      <div id="theatre_description_text">
        {{{theatre.description}}}
      </div>
    </div>
  </div>
  <div id="theatre_events">

    <!--Place for events to be placed via subview-->

  </div>
  <div id="theatre_extras">
    <div id="theatre_amenities">
      <h3>Dining Options</h3>
      <ul>
        {{#theatre.amenities}}
        <li>
          <a href="/{{link}}">{{name}}</a>
          {{#menu}}
          <a href="{{.}}" class="theatre_amenity_menu">Menu</a>
          {{/menu}}
        </li>
        {{/theatre.amenities}}
      </ul>
    </div>
    <div id="theatre_features">
      <h3>Features</h3>
      <ul>
        {{#theatre.features}}
        <li class="tip" rel="tooltip" id="{{id}}" data-original-title="{{title}}"></li>
        {{/theatre.features}}
      </ul>
    </div>
    <div id="theatre_technologies">
      <h3>Theatre Technology</h3>
      <ul>
        {{#theatre.technologies}}
        <li>
          <a href="{{url}}" id="{{id}}"><img src="{{image_url}}" alt="{{tip}}"></a>
        </li>
        {{/theatre.technologies}}
      </ul>
    </div>
    <div id="theatre_rentals">
      <h3>Theatre Rentals</h3>
      <ul>
        <li><a href="/business/meetings-events">Meetings &amp; Events</a></li>
        <li><a href="/business/group-sales">Group Sales</a></li>
        <li><a href="/business/imax-group-sales">IMAX Group Sales</a></li>
        <li><a href="/business/private-screenings">Private Screenings</a></li>
        <li><a href="/theatres/theatre-rentals">Theatre Rentals</a></li>
        <li><a href="/programs/kids-and-families/movie-party">Movie Party</a>
        </li>
      </ul>
    </div>
  </div>
</div>