<!--<div class="nearby_theater nearest" data-theater-id="{{theatre_id}}">-->
  <div class="nearby_left">
    <img src="/sites/all/themes/showcase/imgs/location_{{index}}.png" alt="Nearby theater"><span class="nearby_dist">{{distance}}mi</span>
  </div>
  <div class="nearby_right"><h2 class="nearby_name">{{city}}, {{state}}</h2>
    <span class="nearby_addr">{{title}}<br>{{address}}, {{city}}, {{state}} {{zip}}</span>
  </div>
<!--</div>-->